<p>
  <strong>Name:</strong>
  <%= @fire.name %>
</p>

<p>
  <strong>Incident:</strong>
  <%= @fire.incident %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fire.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @fire.owner %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fire.status %>
</p>

<p>
  <strong>Root cause analysis:</strong>
  <%= @fire.root_cause_analysis %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_fire_path(@fire) %> |
<%= link_to 'Back', fires_path %>
